In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

The main goal of this notebook is to determine the migration rates into and out of the state of West Virginia. A method for cleaning the data so that it can be used in general is the first step, then creating relevant visuals, and finally comparing the visuals from year to year. All data is obtained from the [US Census Bureau](https://www.census.gov/data/tables/time-series/demo/geographic-mobility/state-to-state-migration.html). I'll start with the year 2010 & on.

In [2]:
pwd

'C:\\Users\\Mark\\Documents\\Data\\Migration\\WV'

In [3]:
data_dct={}
for i in range(9):
    data_dct[i]=pd.read_excel(r'State_to_State_Migrations_Table_201'+str(i)+'.xls')

Let's get some info about what this spreadsheet looks like.

In [4]:
data_dct[0].head(25)

,"Table with row headers in column A, L, W, AH, AS, BD, BO, BZ, CK, CV, and DG, and column headers in rows 6 through 8 and 45 through 47.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 120,Unnamed: 121,Unnamed: 122,Unnamed: 123,Unnamed: 124,Unnamed: 125,Unnamed: 126,Unnamed: 127,Unnamed: 128,Unnamed: 129
0,Table 1. State-to-State Migration Flows*: 2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Table 1. State-to-State Migration Flows*: 2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Dataset: 2010 American Community Survey 1-Year...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Dataset: 2010 American Community Survey 1-Year...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Universe: Population 1 year and over,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Universe: Population 1 year and over,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Current residence in --,Population 1 year and over,NaN,Same house 1 year ago,NaN,Same state of residence 1 year ago,NaN,Different state of residence 1 year ago,NaN,NaN,...,NaN,Current residence in --,Abroad 1 year ago--,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,NaN,Alabama,...,NaN,NaN,Total,NaN,Puerto Rico,NaN,U.S. Island Area,NaN,Foreign Country,NaN
6,NaN,Estimate,MOE,Estimate,MOE,Estimate,MOE,Estimate,MOE,Estimate,...,MOE,NaN,Estimate,MOE,Estimate,MOE,Estimate,MOE,Estimate,MOE
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,United States1,305628607,29823,258552348,236128,38582885,213239,6743229,69387,99221,...,3185,United States1,1750145,36993,59885,6923,17167,3479,1673093,36130
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Alabama,4729509,3716,3987155,21708,620465,21448,108723,8781,NaN,...,52,Alabama,13166,2247,228,265,181,160,12757,2241
11,Alaska,702974,1600,565031,7596,95878,7984,36326,3708,477,...,131,Alaska,5739,1602,19,30,1374,1188,4346,1205
12,Arizona,6332786,4439,5069002,35057,1001991,32027,222725,11873,416,...,393,Arizona,39068,6046,599,771,223,286,38246,5951
13,Arkansas,2888304,2453,2387806,18627,412997,17485,79127,7901,1405,...,513,Arkansas,8374,2099,87,146,0,273,8287,2123
14,California,36907897,10889,30790221,71574,5413287,66460,444749,18415,3364,...,664,California,259640,13144,1223,1128,5123,2453,253294,13154
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Colorado,4988190,3936,4042039,25546,725413,23003,186366,9897,954,...,1439,Colorado,34372,4253,874,880,125,181,33373,4235
17,Connecticut,3541146,2779,3100742,16358,342904,15404,77333,6651,896,...,78,Connecticut,20167,2860,2027,1233,0,281,18140,2685
18,Delaware,889812,1573,764640,9145,90001,8498,30759,4030,128,...,265,Delaware,4412,1791,954,1095,431,400,3027,1274
19,District of Columbia,596747,1124,474676,8281,63766,6163,51244,4828,360,...,292,District of Columbia,7061,1472,0,292,62,103,6999,1448
20,Florida,18647600,7733,15554008,45602,2459530,38387,482889,22701,15830,...,258,Florida,151173,10799,12968,4149,1131,800,137074,9549
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Georgia,9587237,5924,8015409,37393,1278548,36794,249459,15858,13840,...,118,Georgia,43821,5631,1010,742,376,365,42435,5734
23,Hawaii,1346274,1690,1140572,10422,134315,9295,53581,6065,749,...,33,Hawaii,17806,4654,0,275,805,581,17001,4673
24,Idaho,1550967,1954,1279856,12606,209272,10887,55638,6079,376,...,723,Idaho,6201,1618,233,374,36,62,5932,1578

In [5]:
data_dct[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Columns: 130 entries, Table with row headers in column A, L, W, AH, AS, BD, BO, BZ, CK, CV, and DG, and column headers in rows 6 through 8 and 45 through 47. to Unnamed: 129
dtypes: object(130)
memory usage: 85.4+ KB

This is an absolute nightmare. I'll do my best to make it pretty.

In [6]:
data_dct[0]=data_dct[0].drop([0,1,2,3,79,80,81,82,83]).reset_index().drop(['index'], axis=1)
data_dct[0].head()

,"Table with row headers in column A, L, W, AH, AS, BD, BO, BZ, CK, CV, and DG, and column headers in rows 6 through 8 and 45 through 47.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 120,Unnamed: 121,Unnamed: 122,Unnamed: 123,Unnamed: 124,Unnamed: 125,Unnamed: 126,Unnamed: 127,Unnamed: 128,Unnamed: 129
0,Current residence in --,Population 1 year and over,NaN,Same house 1 year ago,NaN,Same state of residence 1 year ago,NaN,Different state of residence 1 year ago,NaN,NaN,...,NaN,Current residence in --,Abroad 1 year ago--,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,NaN,Alabama,...,NaN,NaN,Total,NaN,Puerto Rico,NaN,U.S. Island Area,NaN,Foreign Country,NaN
2,NaN,Estimate,MOE,Estimate,MOE,Estimate,MOE,Estimate,MOE,Estimate,...,MOE,NaN,Estimate,MOE,Estimate,MOE,Estimate,MOE,Estimate,MOE
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,United States1,305628607,29823,258552348,236128,38582885,213239,6743229,69387,99221,...,3185,United States1,1750145,36993,59885,6923,17167,3479,1673093,36130

In [7]:
data_dct[0].columns = data_dct[0].iloc[0]
data_dct[0] = data_dct[0][1:]
data_dct[0].head()

,Current residence in --,Population 1 year and over,NaN,Same house 1 year ago,NaN,Same state of residence 1 year ago,NaN,Different state of residence 1 year ago,NaN,NaN,...,NaN,Current residence in --,Abroad 1 year ago--,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,NaN,Alabama,...,NaN,NaN,Total,NaN,Puerto Rico,NaN,U.S. Island Area,NaN,Foreign Country,NaN
2,NaN,Estimate,MOE,Estimate,MOE,Estimate,MOE,Estimate,MOE,Estimate,...,MOE,NaN,Estimate,MOE,Estimate,MOE,Estimate,MOE,Estimate,MOE
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,United States1,305628607,29823,258552348,236128,38582885,213239,6743229,69387,99221,...,3185,United States1,1750145,36993,59885,6923,17167,3479,1673093,36130
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
data_dct[0].dropna(subset=[str(data_dct[0].columns[0])]).reset_index().drop(['index'], axis=1)

,Current residence in --,Population 1 year and over,NaN,Same house 1 year ago,NaN,Same state of residence 1 year ago,NaN,Different state of residence 1 year ago,NaN,NaN,...,NaN,Current residence in --,Abroad 1 year ago--,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,United States1,305628607,29823,258552348,236128,38582885,213239,6743229,69387,99221,...,3185,United States1,1750145,36993,59885,6923,17167,3479,1673093,36130
1,Alabama,4729509,3716,3987155,21708,620465,21448,108723,8781,NaN,...,52,Alabama,13166,2247,228,265,181,160,12757,2241
2,Alaska,702974,1600,565031,7596,95878,7984,36326,3708,477,...,131,Alaska,5739,1602,19,30,1374,1188,4346,1205
3,Arizona,6332786,4439,5069002,35057,1001991,32027,222725,11873,416,...,393,Arizona,39068,6046,599,771,223,286,38246,5951
4,Arkansas,2888304,2453,2387806,18627,412997,17485,79127,7901,1405,...,513,Arkansas,8374,2099,87,146,0,273,8287,2123
5,California,36907897,10889,30790221,71574,5413287,66460,444749,18415,3364,...,664,California,259640,13144,1223,1128,5123,2453,253294,13154
6,Colorado,4988190,3936,4042039,25546,725413,23003,186366,9897,954,...,1439,Colorado,34372,4253,874,880,125,181,33373,4235
7,Connecticut,3541146,2779,3100742,16358,342904,15404,77333,6651,896,...,78,Connecticut,20167,2860,2027,1233,0,281,18140,2685
8,Delaware,889812,1573,764640,9145,90001,8498,30759,4030,128,...,265,Delaware,4412,1791,954,1095,431,400,3027,1274
9,District of Columbia,596747,1124,474676,8281,63766,6163,51244,4828,360,...,292,District of Columbia,7061,1472,0,292,62,103,6999,1448
10,Florida,18647600,7733,15554008,45602,2459530,38387,482889,22701,15830,...,258,Florida,151173,10799,12968,4149,1131,800,137074,9549
11,Georgia,9587237,5924,8015409,37393,1278548,36794,249459,15858,13840,...,118,Georgia,43821,5631,1010,742,376,365,42435,5734
12,Hawaii,1346274,1690,1140572,10422,134315,9295,53581,6065,749,...,33,Hawaii,17806,4654,0,275,805,581,17001,4673
13,Idaho,1550967,1954,1279856,12606,209272,10887,55638,6079,376,...,723,Idaho,6201,1618,233,374,36,62,5932,1578
14,Illinois,12680126,5467,11009852,32636,1404525,28126,203959,11573,1397,...,432,Illinois,61790,4951,2055,820,0,267,59735,4897
15,Indiana,6414862,4257,5431015,24897,833086,22796,127353,8463,1502,...,403,Indiana,23408,3198,572,457,75,124,22761,3113
16,Iowa,3013053,2381,2553210,15158,375650,12448,72557,5707,330,...,119,Iowa,11636,2469,149,176,0,228,11487,2434
17,Kansas,2820894,2731,2341401,17752,372161,15608,95059,7804,44,...,531,Kansas,12273,2344,68,88,90,105,12115,2355
18,Kentucky,4296639,3389,3638259,20337,519887,18955,118443,8947,2161,...,462,Kentucky,20050,4259,179,240,0,271,19871,4253
19,Louisiana,4483529,3720,3826390,25103,547291,22645,97889,8319,5740,...,67,Louisiana,11959,1983,402,285,116,136,11441,1979
20,Maine,1313902,1878,1136780,8034,146735,7677,27758,3059,402,...,766,Maine,2629,718,204,355,0,230,2425,669
21,Maryland,5716785,3648,4917637,22981,588879,20180,164484,9180,1641,...,299,Maryland,45785,5856,612,678,269,206,44904,5795
22,Massachusetts,6489250,3528,5583650,23686,706624,22760,140162,8906,583,...,285,Massachusetts,58814,7087,3085,1219,0,285,55729,7124
23,Michigan,9762127,4595,8310098,29394,1291901,28130,116149,8123,2403,...,429,Michigan,43979,4792,1432,1082,0,244,42547,4779
24,Minnesota,5244256,3049,4480630,17843,647946,16565,89872,6022,266,...,280,Minnesota,25808,4075,39,62,0,211,25769,4079
25,Mississippi,2931228,3253,2510729,16977,340266,16300,72321,5412,8306,...,422,Mississippi,7912,1818,814,728,67,128,7031,1784
26,Missouri,5920858,4730,4968921,23164,786726,21904,145226,7633,819,...,496,Missouri,19985,2742,867,658,0,259,19118,2624
27,Montana,978507,1744,821709,7063,117752,6986,35630,3807,212,...,672,Montana,3416,1125,11,19,0,237,3405,1124
28,Current residence in --,Population 1 year and over,NaN,Same house 1 year ago,NaN,Same state of residence 1 year ago,NaN,Different state of residence 1 year ago,NaN,NaN,...,NaN,Current residence in --,Abroad 1 year ago--,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Nebraska,1802697,2153,1497138,11336,247005,9960,51290,4521,232,...,545,Nebraska,7264,1562,0,228,278,465,6986,1500
30,Nevada,2667364,3181,2030410,22983,517261,21311,102677,8786,150,...,144,Nevada,17016,3514,502,618,454,518,16060,3479
31,New Hampshire,1303865,1720,1118359,9822,141213,9061,39367,4220,152,...,257,New Hampshire,4926,1349,56,93,285,327,4585,1349
32,New Jersey,8709933,4515,7841470,25935,684482,23318,127369,8536,616,...,281,New Jersey,56612,6048,2732,1263,245,402,53635,5935
33,New Mexico,2039549,2727,1735950,14043,220663,12854,73605,7703,751,...,727,New Mexico,9331,2454,632,678,173,271,8526,2203
34,New York,19171916,7371,16976205,41292,1779540,36331,269427,14924,1310,...,148,New York,146744,10086,6740,2049,199,187,139805,10405
35,North Carolina,9443000,5070,7982017,29580,1141001,25307,263256,13976,3044,...,819,North Carolina,56726,6204,1950,1463,424,371,54352,5718
36,North Dakota,665654,1209,556222,6833,75720,5430,30100,3890,109,...,206,North Dakota,3612,1401,0,211,44,78,3568,1401
37,Ohio,11405101,4931,9745227,23258,1453401,23324,172633,10673,1289,...,187,Ohio,33840,3757,2140,1360,159,176,31541,3544
38,Oklahoma,3716264,3181,3065497,21363,528824,18463,106511,8108,1612,...,1012,Oklahoma,15432,3309,209,222,364,373,14859,3345
39,Oregon,3794008,3282,3110896,20156,545841,17758,116700,7898,400,...,336,Oregon,20571,3300,821,847,0,277,19750,3228
40,Pennsylvania,12577555,4619,11053022,29699,1239199,26490,235580,12249,369,...,936,Pennsylvania,49754,5788,6275,2169,147,176,43332,5190
41,Rhode Island,1042240,1435,900283,9035,99603,7344,32059,4070,136,...,291,Rhode Island,10295,3236,276,353,0,291,10019,3178
42,South Carolina,4577399,3786,3870879,23788,537961,21768,152441,10548,1741,...,524,South Carolina,16118,2669,269,229,28,47,15821,2663
43,South Dakota,805616,1372,680993,6027,96805,5853,25777,3187,325,...,549,South Dakota,2041,830,0,223,0,223,2041,830
44,Tennessee,6282706,4009,5299496,24505,801355,21988,159778,11597,8897,...,287,Tennessee,22077,2865,0,287,0,287,22077,2865
45,Texas,24899075,8102,20500156,52416,3740344,51566,486558,20955,8636,...,1022,Texas,172017,11236,4180,2074,843,622,166994,10904
46,Utah,2724064,2775,2240636,18397,388410,17535,77780,6769,93,...,1168,Utah,17238,3167,383,446,108,129,16747,3143
47,Vermont,619363,779,534975,5691,59032,4857,22529,2945,0,...,86,Vermont,2827,845,0,211,0,211,2827,845
48,Virginia,7930773,4735,6752310,28251,870491,21599,259507,12319,2671,...,429,Virginia,48465,5536,1306,872,217,207,46942,5312
49,Washington,6661321,4568,5464985,26926,946923,24983,191784,12094,1322,...,524,Washington,57629,6310,0,277,2715,1276,54914,5988
50,West Virginia,1833535,1890,1625125,9824,166168,9198,39609,4590,41,...,269,West Virginia,2633,899,182,232,0,269,2451,855
51,Wisconsin,5623196,3124,4824045,20412,691592,17462,93065,6949,552,...,104,Wisconsin,14494,2323,521,478,0,218,13973,2235
52,Wyoming,556954,1133,444614,8794,82255,8679,28046,4226,172,...,NaN,Wyoming,2039,774,0,269,0,269,2039,774
53,Puerto Rico,3676493,2933,3392179,13112,247593,12844,31732,4381,629,...,285,Puerto Rico,4989,1988,N/A2,N/A2,102,109,4887,1974
54,Footnotes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Footnotes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,*Incudes Puerto Rico and the District of Columbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,*Incudes Puerto Rico and the District of Columbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN